<div
  id="map"
  style="width: 100%;
  height: 100vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>


<div class="container truck-list">
  <h4>Truck-it list</h4>

  <% @trucks.each do |truck| %>
    <%= link_to truck_path(truck) do %>
      <%= render 'shared/card', truck: truck %>
    <% end %>
  <% end %>

</div>
