<!-- new.html.erb -->
  <div class = "container">
    <div class = "row justify-content-center align-items-center">
      <div class="col-12 col-sm-6 pt-5">
        <h3 class="text-center">Add your food truck here</h1>

        <%= render 'form', truck: @truck %>
        <p class="row text-center align-items-center justify-content-center"> <%= link_to 'Back', trucks_path %></p>
     </div>
  </div>
