<div class="truck-img" style="background-image: url('https://www.papernstitchblog.com/wp-content/uploads/2014/09/fruit-loops-ice-cream-in-a-cone.jpg')"></div>
<div class="container truck-content">
    <%= render 'shared/truck-info-box' %>
    <%= render 'shared/schedule' %>
    <%= render 'shared/menu' %>
</div>
<!-- basket on the bottom of this file -->
<%= render 'shared/basket' %>
