 <div class="card-row">
    <div class="card">
    <div class="row no-gutters">
      <div class="col-5" style="background-image: url('https://www.glutenfreepalate.com/wp-content/uploads/2016/03/Vanilla-Birthday-Cake-Donuts-4.2-720x405.jpg'); background-size: cover; background-repeat: no-repeat;">
        <!-- <img src="https://www.glutenfreepalate.com/wp-content/uploads/2016/03/Vanilla-Birthday-Cake-Donuts-4.2-720x405.jpg" class="card-img" alt="..."> -->
      </div>
      <div class="col-7">
        <div class="card-body text-right p-3">
          <div class="card-head d-flex justify-content-between">
            <i class="fab fa-cc-visa"></i>
            <h5 class="card-title text-right">Pizza Prime</h5>
          </div>
          <em class="">italian</em>
          <div class="rating w-100 mt-2">
            <% 5.times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- open or not -->
  <div class="open"></div>
</div>
