<footer class="p-3">
  <div class="social d-flex justify-content-around p-3">
    <%= link_to '#' do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <%= link_to '#' do %>
      <i class="fab fa-twitter-square"></i>
    <% end %>
    <%= link_to '#' do %>
      <i class="fab fa-github-square"></i>
    <% end %>
  </div>
  <div>
    <h3>Become a trucker!</h3>
    <p>Join us and digitize your passion. Create your Truck-iT profile today.</p>
      <div class="d-flex justify-content-between">
        <%= link_to 'ADD YOUR TRUCK', new_truck_path %>
        <p>&copy; Truck-iT 2019</p>
      </div>
  </div>
</footer>
