<div class="menu p-3">
  <h5 class="text-center">MEMU</h5>
<!-- dish 1 -->

  <p>
    <a class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">

      <div class="dish pt-2">
      <p>Prawns</p>
        <em class="op">Four pieces. With choice of flavoring.</em>
        <div class="d-flex justify-content-between">
          <p>£6.49</p>
          <div>
            <i class="fas fa-fish px-3"></i>
            <i class="fas fa-coffee"></i>
          </div>
        </div>
    </div>

    </a>

  </p>
  <div class="collapse" id="collapseExample1">
    <div class="card-body">
      <div class="d-flex justify-content-around w-100" aria-labelledby="dropdownMenuLink">
        <a class="text-center" href="#">-</a>
        <a class="text-center" href="#">+</a>
      </div>
    </div>
  </div>

<!-- dish 2 -->

    <p>
    <a class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">

      <div class="dish pt-2">
      <p>Tomato soup</p>
        <em class="op">Freshly cut bla bls bla bla bla</em>
        <div class="d-flex justify-content-between">
          <p>£5.99</p>
          <div>
            <i class="fas fa-bomb px-3"></i>
            <i class="fas fa-toilet-paper"></i>
          </div>
        </div>
    </div>

    </a>

  </p>
  <div class="collapse" id="collapseExample2">
    <div class="card-body">
      <div class="d-flex justify-content-around w-100" aria-labelledby="dropdownMenuLink">
        <a class="text-center" href="#">-</a>
        <a class="text-center" href="#">+</a>
      </div>
    </div>
  </div>

<!-- dish 3 -->
    <p>
    <a class="" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample">

      <div class="dish pt-2">
      <p>Chocolate shake</p>
        <em class="op">Cold and delicious cup of milk</em>
        <div class="d-flex justify-content-between">
          <p>£3.49</p>
          <div>
            <i class="fas fa-coffee px-3"></i>
            <i class="fas fa-fish"></i>
          </div>
        </div>
    </div>

    </a>

  </p>
  <div class="collapse" id="collapseExample2">
    <div class="card-body">
      <div class="d-flex justify-content-around w-100" aria-labelledby="dropdownMenuLink">
        <a class="text-center" href="#">-</a>
        <a class="text-center" href="#">+</a>
      </div>
    </div>
  </div>
</div>
