  <div class="schedule-box my-3">
    <p class="d-flex justify-content-between px-3"><span>monday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
    <p class="d-flex justify-content-between px-3"><span>tuesday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
    <p class="d-flex justify-content-between px-3"><span>wednesday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
    <p class="d-flex justify-content-between px-3"><span>thursday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
    <p class="d-flex justify-content-between px-3"><span>friday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
    <p class="d-flex justify-content-between px-3"><span>saturday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
    <p class="d-flex justify-content-between px-3"><span>sunday</span><span><span class="open-time">10:00</span> - <span class="close-time">16:00</span></span></p>
  </div>
