<div class="logo map" style="background-image: url('https://mpng.pngfly.com/20180302/wgq/kisspng-car-street-food-food-truck-illustration-lovely-simple-travel-diner-5a9918416e3028.4657014015199826574513.jpg')"></div>
<div class="container">
  <div class="row m-3">
  <%= link_to 'i need food', trucks_path, class: 'button-truck' %>
  </div>
  <div class="row m-3">
    <%= link_to 'i need $$$', new_truck_path, class: 'button-truck' %>
  </div>
</div>

