<!-- new.html.erb -->
  <div class = "container">
    <div class = "row justify-content-center align-items-center">
      <div class="col-12 col-sm-6 pt-5">
        <h1 class="text-center">Add your dish to <%= @truck.name %> here</h1>

        <%= render 'form', dish: @dish %>
        <p class="text-center"> <%= link_to 'Back', truck_path(@truck) %></p>
     </div>
  </div>
