.diet-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.diet-choice {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  border: 1px solid #ccc;
  padding: 8px 8px;
  height: 80px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  p {
    margin: 0;
  }
}
.checked {
    color: rgba(0,0,0, .9);
    background-color: $main;
    opacity: 1;
}
