.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  background-color: white;
  padding: .5em;
  border: 0;
  border-bottom: 4px solid $secondary;
  border-radius: 4px;
  box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.4);

}

.mapboxgl-popup-content h3 {
  font-family: $headers-font;
}

.mapboxgl-popup-content p {
  font-family: $body-font;
}

.map {
  cursor: disabled;
}

#map {
  height: calc(100vh - 60px);
  cursor: disabled;
}

.mapboxgl-ctrl-top-right {
    top: 0 !important;
    right: 50% !important;
    transform: translateX(50%) !important;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: 0.5rem 0 0 0 !important;
  width: 90vw !important;

}

