.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  position: relative;
  bottom: 11px;
  background: rgba(250,250,250, 0.8) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 15px;
  // pointer-events: auto;
  border: 2px solid black;
  border-radius: 4px;
  button {
    display: none;
  }
  span {
  }
}
.popup-body p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.map {
  cursor: disabled;
}

#map {
  height: calc(100vh - 60px);
  cursor: disabled;
}

.mapboxgl-ctrl-top-right {
    top: 0 !important;
    right: 50% !important;
    transform: translateX(50%) !important;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  margin: 0.5rem 0 0 0 !important;
  width: 90vw !important;

}

.open-colour {
  text-color: green !important;
}

