.menu {
  background: white;
  border-radius: 8px;
  box-shadow: 1px 1px 8px rgba(0,0,0, .5);
  h5, p, a , a:hover{
    text-decoration: none;
    color: rgba(0,0,0, .5);
  }
  h5 {
    letter-spacing: 2px;
    color: rgba(0,0,0, .4);
  }
}
.dish {
  border-bottom: 1px solid rgba(0,0,0, .1);
  p:first-child {
    font-size: 1.1em;
  }
}
.dropdown-menu {
  border: 0;
  & a {
  background: $main;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  font-size: 2em;
  }
}
.menu em {
  line-height: 2em;
  color: rgba(0,0,0, .3);
}
.requirement-img {
  width: 25px
}
.card-body {
  a, span {
    font-size: 1.4em;
    color: rgba(0,0,0, .4);
    line-height: 2em;
  }
}
