.truck-info-box {
  background: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 1px 1px 8px rgba(0,0,0, .5);
  & p , h4 {
    text-align: center;
    color: rgba(0,0,0, .6);
    margin: 0;
  }
}
