.truck-list {
  position: relative;
  top: -72px;
  z-index: 99;
  border-radius: 8px;
  & > h4 {
    line-height: 40px;
    color: rgba(0,0,0, .6);
    text-align: center;
    padding: 16px 0;
    background-color: #f4f4f4;
    border-radius: 8px 8px 0 0;
  }
}
