.truck-img {
  height: 80vh;
  // background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.truck-content {
  position: relative;
  top: -80px;
}
.basket {
  height: 60px;
  width: 60px;
  position: fixed;
  top: 80px;
  right: 20px;
  font-size: 2em;
  background: $main;
  border-radius: 50%;
  padding: 0;
  border: 5px solid rgba(0,0,0, .9);
  text-align: center;
  & i, i:hover  {
    color: #fff;
    text-shadow: 1px 2px 12px rgba(0,0,0, .4);
  }
}
.truck-map {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

#new_review {
  // height: 30px;
  .radio {
    display: grid;
  }
  label {
    padding: 0 16px;
    font-size: 1.2em;
    line-height: 30px;
    color: rgba(0,0,0, .6);
  }
  .radio input{
    height: 26px;
    width: 26px;
    vertical-align: middle;
  }
}
